@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@0,400;0,600;1,500&display=swap');

:root {
    --primary-color: #1BBA1A; 
}

body {
    background: #dfe6e9;
    margin: 0;
    font-family: 'Poppins';
}

h1 {
    margin-top: 5em;
    text-align: center;
}

.selector-cta {
    text-align: center;
}

.selector-cta a{

}

.selector-driver-cta{
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 0.9em;
    border-radius: 3em;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0.1em;
}

.selector-sponsor-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 0.9em;
    border-radius: 3em;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0.1em;
}

