@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/sponsorlanding.css"/>
</head>
<body>
<section class="landing">
    <div class="container">
        <p>ADMINISTRATOR DASHBOARD</p>
    </div>
</section>
</body>
</html>